/**
 *  General Typography
 */

// Alignment
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

// Headlines
.headline {
	//
}

.entry,
.hero.section,
.title.section,
.section > .content {
	$delta: 1.25;
	h1.headline, .headline.h1-size { font-size: $font-size-h1 * $delta; }
	h2.headline, .headline.h2-size { font-size: $font-size-h2 * $delta; }
	h3.headline, .headline.h3-size { font-size: $font-size-h3 * $delta; }
	h4.headline, .headline.h4-size { font-size: $font-size-h4 * $delta; }
	h5.headline, .headline.h5-size { font-size: $font-size-h5 * $delta; }
	h6.headline, .headline.h6-size { font-size: $font-size-h6 * $delta; }

	.headline {
		text-align: center;
	}
}

// links
p > a {
	position: relative;
	text-decoration: underline;
	
	&:hover {
		color: $color-primary;
	}
}
