//
// Portfolio Archive Styles
//

// ----- features structure & decoration
.features {
	display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.feature {
	color: $color-primary;
    font-size: $font-size-small;
	padding: $size-micro $size-tiny;
    position: relative;

    &:after {
        content: '\2022'; // bullet
        // content: '\25BE'; // triangle
        color: $color-dark;
        font-size: $font-size-small;
        position: absolute;
        right: -$size-micro;
    }

    &:last-of-type:after {
        content: '';
    }
}

// ----- View Project button
.details.section {
    text-align: center;
    
    img {
        margin: 0 auto $size-big;
        max-width: 600px;

        @include at_mobile {
            max-width: 100%;
        }
    }

    div {
        margin: $size-big;
    }
}

// ----- Headings
.heading {
    margin-bottom: $size-large;
    text-align: center;
}