<template>
  <div class="home page">
    <div class="hero section">
      <img class="logo" src="../assets/images/logo-png-white-bg.png" alt="">
    </div>
    <div class="condensed section align-center">
      <h2 class="heading">About</h2>
      <p>Hi! My name is Scott and I am a freelance web developer based out of Tucson, AZ in the United States. I'd like to take a brief moment to share a bit about myself and my talents.</p>
      <p>I started web design and development in high school about 15 years ago with basic HTML, CSS, and JavaScript. After graduating I focused more on expanding my knowledge of the industry and best practices. This is about the time I started web dev professionally adding PHP to my list of known languages. Some years later I jumped back into school for Software Development learning C, Java, and C#. Shortly after starting I landed a great internship with Nuanced Media and quickly worked my way into full employment. After spending a few years with Nuanced Media I received an opportunity to move to Charlotte, NC for a new job. The experience was phenomenal. After my short stint at that agency I began focusing more on freelancing.</p>
      <p>I now focus heavily on being a freelance web developer quickly whipping up sites for my own clients utilizing WordPress as it usually boasts a quick turn around time and therefore costs less than more complex custom systems. I take pride in bring upfront and transparent. If your project will take a more complicated solution I will express this and explain why it is needed. If it is not needed, as is the case with most projects, I will work to create the most time and cost effective solution.</p>
      <p>I look forward to being your freelance web developer, working with you on your next project to design and develop a beautiful, modern website. Connect with me on <a href="https://www.linkedin.com/in/scott-thrall-681676bb/">LinkedIn</a> or <a href="https://twitter.com/s_thrall">Twitter</a> to get in touch!</p>
    </div>
  </div>
  <div class="condensed section">
    <WorkArchive/>
  </div>
</template>

<script>
import WorkArchive from '../components/WorkArchive.vue'

export default {
  name: 'HomeView',
  components: {
    WorkArchive
  }
}
</script>
