<template>
  <div class="404 page">
    <div class="hero section">
      <img class="logo" src="../assets/images/logo-png-white-bg.png" alt="">
    </div>
    <div class="condensed section align-center">
      <h1>404</h1>
      <h3>OOPS! There's nothing here!</h3>
      <p>Get back to safety by clicking <router-link to="/">here.</router-link></p>
      <!-- <p>If you want to see something cool, click <router-link to="/cool">here!</router-link></p> -->
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>