<template>
    <div class="single portfolio">
        <div class="condensed hero section">
            <h1>{{ title }}</h1>
            <div class="features">
                <div v-for="feature in features" :key="feature" class="feature">
                    <span>{{ feature }}</span>
                </div>
            </div>
        </div>
        <div class="condensed details section">
            <img :src="image" :alt="title">
            <p>{{ description }}</p>
            <div class="align-center">
                <a class="primary button" :href="url" target="_blank">View Project</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'id',
        'title',
        'features',
        'description',
        'image',
        'url'
    ]
}
</script>

<style>

</style>