/**
 *  Hero Sections
 */

.hero.section {
	@extend %centered-section;
	text-align: center;
}

.hero.section {
	background-image: url('@/assets/images/background-swooshes.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: $size-big 0;

	.logo {
		margin: auto;
		max-width: 240px;
	}
}