<template>
    <h2 class="heading">My Work</h2>
    <div class="ss three column guttered cards grid">
        <router-link :to="{ name: 'portfolio', params: { id: work.id, title: work.title, features: work.features, description: work.description, image: work.image.src, url: work.url }}" v-for="work in works" :key="work.id" class="work card">
            <div class="image">
                <img :src="work.image.src" :alt="work.image.title">
            </div>
            <div class="content">
                <div class="features">
                    <div v-for="feature in work.features" :key="feature" class="feature">
                        <span>{{ feature }}</span>
                    </div>
                </div>
                <h3>{{ work.title }}</h3>
            </div>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            "works": [
                {
                    "id": 100,
                    "title": "Job Board",
                    "features": [
                        "Vue.js"
                    ],
                    "description": "This one is a job aggregator app to test my skills with accessing RSS feeds with Vue.js.",
                    "image": {
                        "title": "Job Board - Vue.js",
                        "src": "/images/job-board-display.png"
                    },
                    "url": "https://gitlab.com/sathrall/job-board"
                },
                {
                    "id": 100,
                    "title": "Recipe Book",
                    "features": [
                        "MongoDB",
                        "Express",
                        "Vue.js",
                        "Node.js"
                    ],
                    "description": "This is a simple app to add and review recipes built as a MEVN app.",
                    "image": {
                        "title": "Recipe Book - Vue.js",
                        "src": "/images/recipe-book-display.png"
                    },
                    "url": "https://gitlab.com/sathrall/recipe-book"
                },
                {
                    "id": 100,
                    "title": "Hyrule Jobs",
                    "features": [
                        "Vue.js",
                        "Typescript"
                    ],
                    "description": "This was a quick project to demonstrate my knowledge of Vue.js and Typescript embracing my love of the Legend of Zelda series of games.",
                    "image": {
                        "title": "Hyrule Jobs - Vue.js",
                        "src": "/images/hyrule-jobs-display.png"
                    },
                    "url": "https://gitlab.com/sathrall/hyrule-jobs"
                },
                {
                    "id": 101,
                    "title": "Karaoke Calendar",
                    "features": [
                        "Vue.js",
                        "JSON Server",
                        "Google Maps API"
                    ],
                    "description": "This was a quick project to demonstrate my knowledge of Vue.js while providing myself a quick reference for finding a place to sing karaoke any night of the week.",
                    "image": {
                        "title": "Karaoke Calendar - Vue.js",
                        "src": "/images/karaoke-calendar-display.png"
                    },
                    "url": "https://gitlab.com/sathrall/karaoke-calendar"
                },
                {
                    "id": 102,
                    "title": "Bucket List",
                    "features": [
                        "MEVN",
                        "Heroku",
                        "Bulma CSS"
                    ],
                    "description": "This was a simple project to hone my skills with MEVN (MongoDB, Express, Vue.js, Node.js) stacks.",
                    "image": {
                        "title": "Bucket List - MEVN",
                        "src": "/images/bucket-list-mevn-display.png"
                    },
                    "url": "https://gitlab.com/sathrall/bucket-list"
                },
                {
                    "id": 200,
                    "title": "Emes Travel",
                    "features": [
                        "Elementor",
                        "WordPress",
                        "Responsive",
                        "Design"
                    ],
                    "description": "This client came to me looking for a very simple yet professional single page to grab users' attention and pull them in to get in touch with them. They were very responsive when feedback was requested and I think it shows in how sharp this landing page looks.",
                    "image": {
                        "title": "Emes Travel - Responsive Design",
                        "src": "/images/emestravel-display.png"
                    },
                    "url": "https://emestravel.com"
                },
                {
                    "id": 201,
                    "title": "Heatedleek",
                    "features": [
                        "Elementor",
                        "WordPress",
                        "Responsive",
                        "Design"
                    ],
                    "description": "As a streamer you need something clean where your followers and viewers can find you on your platform(s). I worked quickly with Elementor to provide that clean and easy to navigate design. I chose a darker design as the streamer typically streamed at night. The lack of bright colors follows the trend of nighttime users looking for dark themes on the platforms they visit most. In addition to the site I put my design expertise to use in creating streaming assets, a logo, and a general background for the streamer to use. This challenged me to broaden my horizons and grow as a designer and a developer.",
                    "image": {
                        "title": "Heatedleek - Responsive Design",
                        "src": "/images/heatedleek-display.png"
                    },
                    "url": "https://heatedleek.com"
                },
                {
                    "id": 202,
                    "title": "Madera Investigations",
                    "features": [
                        "WordPress",
                        "Responsive",
                        "Design"
                    ],
                    "description": "While working with Madera Investigations I expanded my horizons and began designing logos and stationery professionally. After years of practicing with private practice I was finally ready to spread my proverbial wings and fly with my graphic design. This site was built upon a free theme that utilizes the WP Customizer pretty heavily. Some work done required new fields within the customizer as well as your basic HTML, CSS, and JavaScript. In addition to the theme edits I did have to line things up on mobile to make sure it was truly responsive. I really enjoyed testing my mettle against the modern and professional design requested for this site. The client was easy to work with and even requested additional products (i.e. business cards and branded drink coasters) because they loved the logo so much.",
                    "image": {
                        "title": "Madera Investigations - Responsive Design",
                        "src": "/images/madera-display.png"
                    },
                    "url": "https://maderainvestigations.com"
                },
                {
                    "id": 203,
                    "title": "Sorella Beauty Salon",
                    "features": [
                        "WordPress",
                        "Responsive",
                        "Design"
                    ],
                    "description": "Sorella Beauty Salon sorely needed a host and a website when they first started. The timeline was short so I had to work quickly to make a swift turnaround. I chose Elementor for this site because it's a quick and prolific page builder that allowed me to add all the features agreed upon with the client. Unfortunately the logo was difficult to work with but I managed to find a solution that preserved the look and feel of the Home page on the site. In the future I will be contacting the client for a logo update that will better marry the beauty and elegance of this theme.",
                    "image": {
                        "title": "Sorella Beauty Salon - Responsive Design",
                        "src": "/images/sorella-display.png"
                    },
                    "url": "https://sorellabeautysalon.com"
                }
            ]
        }
    },
    // mounted() {
    //     fetch('http://localhost:3000/works')
    //         .then((res) => res.json())
    //         .then((data) => this.works = data)
    //         .catch((err) => console.log(err.message))
    // }
}
</script>

<style>

</style>