<template>
  <header>
    <img class="logo" src="./assets/images/logo-long-small.png"/>
    <nav @mouseout="fauxBorderReset">
      <div id="faux-border"></div>
      <router-link @mouseover="fauxBorderHover('home')" id="home" class="menu-item" to="/">Home</router-link>
    </nav>
  </header>
  <router-view/>
  <div class="before footer">
    <div class="inner"></div>
    <img src="./assets/images/logo-png-white-bg.png" alt="Footer Logo" class="logo">
  </div>
  <footer>
    <div class="site footer">
      <div class="copy">
        <p>&copy; 2022 Copyright S. Thrall</p>
      </div>
      <div class="social">
        <div class="item">
          <a href="https://twitter.com/s_thrall">
            <font-awesome-icon :icon="['fab', 'twitter']" />
          </a>
        </div>
        <div class="item">
          <a href="https://gitlab.com/sathrall">
            <font-awesome-icon :icon="['fab', 'gitlab']" />
          </a>
        </div>
        <div class="item">
          <a href="https://github.com/sathrall">
            <font-awesome-icon :icon="['fab', 'github']" />
          </a>
        </div>
        <div class="item">
          <a href="https://codepen.io/sathrall">
            <font-awesome-icon :icon="['fab', 'codepen']" />
          </a>
        </div>
        <div class="item">
          <a href="https://www.linkedin.com/in/scott-thrall-681676bb/">
            <font-awesome-icon :icon="['fab', 'linkedin']" />
          </a>
        </div>
      </div>
      <div class="attr">
        <p>Site designed and built by S. Thrall</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  methods: {
    fauxBorderHover: (itemId) => {
      const item = document.getElementById(itemId)
      const border = document.getElementById('faux-border')

      let width = item.clientWidth - 26
      let posLeft = item.offsetLeft + 13

      border.style.width = width + 'px'
      border.style.left = posLeft + 'px'
    },
    fauxBorderReset: () => {
      const border = document.getElementById('faux-border')
      const item = document.querySelector('.router-link-active')

      let width = item.clientWidth - 26
      let posLeft = item.offsetLeft + 13

      border.style.width = width + 'px'
      border.style.left = posLeft + 'px'
    }
  },
  mounted() {
    // this.fauxBorderReset()
  }
}
</script>

<style lang="scss">
nav {
  //
}
</style>
