//
// General Footer Decoration
//

.before.footer {
	.inner {
		background-color: $color-muted;
		text-align: center;
	}
}

footer {
	.site.footer {
		background-color: $color-light;
		padding: $size-small;

		@include at_mobile {
			padding: $size-medium $size-small $size-small;
		}
	}
}