//
// General Footer Structure
//

.before.footer {
	height: 185px;
	margin-top: $size-huge;
	position: relative;

	.inner {
		bottom: 0;
		height: 130px;
		left: 0;
		position: absolute;
		right: 0;
	}

	.logo {
		left: 50%;
		position: absolute;
		top: -$size-large;
		transform: translateX(-50%);
	}
}

footer {
	.social {
		@extend %flex;
		@extend %justify-center;

		.item {
			margin-right: $size-medium;

			&:last-child {
				margin-right: 0;
			}

			.svg-inline--fa {
				height: $size-medium;
			}
		}
	}

	.site.footer {
		@extend %flex;
		@extend %justify-between;

		@include at_mobile {
			flex-wrap: wrap;

			.copy,
			.social,
			.attr {
				flex-basis: 100%;
				margin-bottom: $size-small;
				text-align: center;
			}
		}

		.copy,
		.social,
		.attr {
			flex-basis: 33%;
		}

		.attr {
			text-align: right;
		}

		p {
			margin-bottom: 0;
		}
	}
}
